@model WebApplication4.Models.PosSession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PosSession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingCash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingCash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndingCash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndingCash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosNavigation.Posname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Storehouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Storehouse.StorehouseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SessionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
